Configuration:
  name: pulsar-functions-kubernetes-instance
  monitorInterval: 30
  Properties:
    Property:
    - name: pulsar.log.level
      value: {{ .Level }}
    - name: bk.log.level
      value: {{ .Level }}

  Appenders:
    Console:
      name: Console
      target: SYSTEM_OUT
      {{ if .Format | eq "json" }}
      JSONLayout:
        complete: true
        compact: true
        eventEol: true
      {{ else }}
      PatternLayout:
        Pattern: \"%d{ISO8601_OFFSET_DATE_TIME_HHMM} [%t] %-5level %logger{36} - %msg%n\"
      {{ end }}

    RollingRandomAccessFile:
      name: RollingRandomAccessFile
      fileName: \"\${sys:pulsar.function.log.dir}/\${sys:pulsar.function.log.file}.log\"
      filePattern: \"\${sys:pulsar.function.log.dir}/\${sys:pulsar.function.log.file}.%d{yyyy-MM-dd}-%i.log.gz\"
      {{ if .Format | eq "json" }}
      JSONLayout:
        complete: true
        compact: true
        eventEol: true
      {{ else }}
      PatternLayout:
        Pattern: \"%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n\"
      {{ end }}
      Policies:
        {{ if .Policy | eq "TimedPolicyWithDaily" }}
        CronTriggeringPolicy:
          schedule: \"0 0 0 * * ? *\"
        {{ else if .Policy | eq "TimedPolicyWithWeekly"}}
        CronTriggeringPolicy:
          schedule: \"0 0 0 ? * 1 *\"
        {{ else if .Policy | eq "TimedPolicyWithMonthly"}}
        CronTriggeringPolicy:
          schedule: \"0 0 0 1 * ? *\"
        {{ else if .Policy | eq "SizedPolicyWith10MB"}}
        SizeBasedTriggeringPolicy:
          size: \"10MB\"
        {{ else if .Policy | eq "SizedPolicyWith50MB"}}
        SizeBasedTriggeringPolicy:
          size: \"50MB\"
        {{ else if .Policy | eq "SizedPolicyWith100MB"}}
        SizeBasedTriggeringPolicy:
          size: \"100MB\"
        {{ else }}
        TimeBasedTriggeringPolicy:
          interval: 1
          modulate: true
        SizeBasedTriggeringPolicy:
          size: \"10MB\"
        {{ end }}

      DefaultRolloverStrategy:
        max: 5

  Loggers:
    Root:
      level: \"\${sys:pulsar.log.level}\"
      AppenderRef:
        - ref: Console
          level: \"\${sys:pulsar.log.level}\"
        - ref: RollingRandomAccessFile
    Logger:
      name: org.apache.pulsar.functions.runtime.shaded.org.apache.bookkeeper
      level: \"\${sys:bk.log.level}\"
      additivity: false
      AppenderRef:
      - ref: Console
      - ref: RollingRandomAccessFile
