
apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: system
  annotations:
    traffic.sidecar.istio.io/excludeInboundPorts: "9443"
spec:
  ports:
    - port: 443
      targetPort: 9443
  selector:
    control-plane: controller-manager
    app: function-mesh-operator

