{{- if .Values.admissionWebhook.enabled }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    {{- if eq .Values.admissionWebhook.certificate.provider "cert-manager" }}
      {{- include "function-mesh-operator.certManager.annotation" . | nindent 4 -}}
    {{- end }}
    controller-gen.kubebuilder.io/version: v0.9.2
  name: connectorcatalogs.compute.functionmesh.io
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        {{- if eq .Values.admissionWebhook.certificate.provider "custom" }}
          {{- $caSecret := (lookup "v1" "Secret" "default" (include "function-mesh-operator.certificate.caSecret" .)) -}}
          {{- if $caSecret }}
            {{- $caCert := (b64dec (get $caSecret.data "tls.crt")) -}}
            {{ printf (include "function-mesh-operator.caBundle" .) (b64enc $caCert) | nindent 8 }}
          {{- end }}
        {{- end }}
        service:
          name: {{ include "function-mesh-operator.webhook.service" . }}
          namespace: {{ .Release.Namespace }}
          path: /convert
          port: 443
      conversionReviewVersions:
        - v1
        - v1beta1
  group: compute.functionmesh.io
  names:
    kind: ConnectorCatalog
    listKind: ConnectorCatalogList
    plural: connectorcatalogs
    singular: connectorcatalog
  scope: Cluster
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              properties:
                connectorDefinitions:
                  items:
                    properties:
                      defaultSchemaType:
                        type: string
                      defaultSerdeClassName:
                        type: string
                      description:
                        type: string
                      id:
                        type: string
                      imageRegistry:
                        type: string
                      imageRepository:
                        type: string
                      imageTag:
                        type: string
                      jarFullName:
                        type: string
                      name:
                        type: string
                      sinkClass:
                        type: string
                      sinkConfigClass:
                        type: string
                      sinkConfigFieldDefinitions:
                        items:
                          properties:
                            attributes:
                              additionalProperties:
                                type: string
                              type: object
                            fieldName:
                              type: string
                            typeName:
                              type: string
                          required:
                            - fieldName
                            - typeName
                          type: object
                        type: array
                      sinkTypeClassName:
                        type: string
                      sourceClass:
                        type: string
                      sourceConfigClass:
                        type: string
                      sourceConfigFieldDefinitions:
                        items:
                          properties:
                            attributes:
                              additionalProperties:
                                type: string
                              type: object
                            fieldName:
                              type: string
                            typeName:
                              type: string
                          required:
                            - fieldName
                            - typeName
                          type: object
                        type: array
                      sourceTypeClassName:
                        type: string
                      typeClassName:
                        type: string
                      version:
                        type: string
                    required:
                      - id
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - id
                  x-kubernetes-list-type: map
              required:
                - connectorDefinitions
              type: object
            status:
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
{{- end }}
