---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autoscaling.k8s.io
  resources:
  - verticalpodautoscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - compute.functionmesh.io
  resources:
  - backendconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - compute.functionmesh.io
  resources:
  - functionmeshes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - compute.functionmesh.io
  resources:
  - functionmeshes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - compute.functionmesh.io
  resources:
  - functions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - compute.functionmesh.io
  resources:
  - functions/finalizers
  verbs:
  - get
  - update
- apiGroups:
  - compute.functionmesh.io
  resources:
  - functions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - compute.functionmesh.io
  resources:
  - sinks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - compute.functionmesh.io
  resources:
  - sinks/finalizers
  verbs:
  - get
  - update
- apiGroups:
  - compute.functionmesh.io
  resources:
  - sinks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - compute.functionmesh.io
  resources:
  - sources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - compute.functionmesh.io
  resources:
  - sources/finalizers
  verbs:
  - get
  - update
- apiGroups:
  - compute.functionmesh.io
  resources:
  - sources/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
