apiVersion: compute.functionmesh.io/v1alpha1
kind: Function
metadata:
  name: java-function-sample
spec:
  className: org.apache.pulsar.functions.api.examples.ExclamationFunction
  forwardSourceMessageProperty: true
  maxPendingAsyncRequests: 1000
  replicas: 1
  maxReplicas: 5
  image: streamnative/pulsar-functions-java-sample:2.9.2.23
  logTopic: persistent://public/default/logging-function-logs
  input:
    topics:
    - persistent://public/default/java-function-input-topic
    typeClassName: java.lang.String
  output:
    topic: persistent://public/default/java-function-output-topic
    typeClassName: java.lang.String
  resources:
    requests:
      cpu: "0.1"
      memory: 1G
    limits:
      cpu: "0.2"
      memory: 1.1G
  # each secret will be loaded ad an env variable from the `path` secret with the `key` in that secret in the name of `name`
  secretsMap:
    "name":
        path: "test-secret"
        key: "username"
    "pwd":
        path: "test-secret"
        key: "password"
  pulsar:
    pulsarConfig: "test-pulsar"
  volumeMounts:
    - mountPath: /cache
      name: cache-volume
  pod:
    env:
    - name: EXAMPLE_VARIABLE
      value: exampleValue
    labels:
      "locaction": "mtv"
    annotations:
      "managed-function": "true"
    volumes:
    - name: cache-volume
      emptyDir: {}
    imagePullSecrets:
    - name: regcred
    initContainers:
    - name: init-function
      image: busybox:1.28
      command: ['sh', '-c', 'echo The app is running! && sleep 30']
    sidecars:
    - name: sidecar-function
      image: busybox:1.28
      command: ['sh', '-c', 'echo The app is running! && sleep 30000']
  java:
    jar: /pulsar/examples/api-examples.jar
    # use "" to read jar from local file system
    jarLocation: ""
    # rollingEnabled to test the env SHARD_ID
    log:
      rotatePolicy: TimedPolicyWithDaily
#    extraDependenciesDir: random-dir
    # use package name:
    # jarLocation: function://public/default/nul-test-java-function@v1
  # to be delete & use admission hook
  clusterName: test-pulsar
  autoAck: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test-pulsar
data:
    webServiceURL: http://10.0.101.197:8080
    brokerServiceURL: pulsar://10.0.101.197:6650
#---
#apiVersion: v1
#kind: Secret
#metadata:
#  name: test-auth
#stringData:
#  clientAuthenticationPlugin: admin
#  clientAuthenticationParameters: t0p-Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: test-tls
stringData:
  tlsTrustCertsFilePath: "uvw"
  tlsAllowInsecureConnection: "false"
  tlsHostnameVerificationEnable: "true"
#---
#apiVersion: v1
#kind: ConfigMap
#metadata:
#  name: test-auth
#data:
#  clientAuthenticationPlugin: "abc"
#  clientAuthenticationParameters: "xyz"
#  tlsTrustCertsFilePath: "uvw"
#  useTls: "true"
#  tlsAllowInsecureConnection: "false"
#  tlsHostnameVerificationEnable: "true"
---
apiVersion: v1
data:
  username: YWRtaW4=
  password: MWYyZDFlMmU2N2Rm
kind: Secret
metadata:
  name: test-secret
type: Opaque
