#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

volumes:
  persistence: false

# disabled AntiAffinity
affinity:
  anti_affinity: false

images:
  zookeeper:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent
  bookie:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent
  presto:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent
  autorecovery:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent
  broker:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent
  proxy:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent
  pulsar_detector:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent
  functions:
    repository: streamnative/pulsar-all
    tag: 2.8.0-rc-202105262207
    pullPolicy: IfNotPresent

# disable auto recovery
components:
  autorecovery: false
  functions: true
  sql_worker: false
  kop: false
  pulsar_detector: false
  pulsar_manager: false

monitoring:
  prometheus: false
  grafana: false
  node_exporter: false
  alert_manager: false
  loki: false

zookeeper:
  replicaCount: 1

bookkeeper:
  replicaCount: 1
  configData:
    BOOKIE_MEM: >
      -Xms128m
      -Xmx256m
      -XX:MaxDirectMemorySize=256m
      # we use `bin/pulsar` for starting bookie daemons
    PULSAR_MEM: >
      -Xms128m
      -Xmx256m
      -XX:MaxDirectMemorySize=256m
    PULSAR_GC: >
      -XX:+UseG1GC
      -XX:MaxGCPauseMillis=10
      -XX:+ParallelRefProcEnabled
      -XX:+UnlockExperimentalVMOptions
      -XX:+AggressiveOpts
      -XX:+DoEscapeAnalysis
      -XX:ParallelGCThreads=4
      -XX:ConcGCThreads=4
      -XX:G1NewSizePercent=50
      -XX:+DisableExplicitGC
      -XX:-ResizePLAB
      -XX:+ExitOnOutOfMemoryError
      -XX:+PerfDisableSharedMem
      -XX:+PrintGCDetails
      -XX:+PrintGCApplicationStoppedTime
      -XX:+PrintHeapAtGC
      -verbosegc
      -Xloggc:/var/log/bookie-gc.log
      -XX:G1LogLevel=finest

broker:
  replicaCount: 1
  configData:
    ## Enable `autoSkipNonRecoverableData` since bookkeeper is running
    ## without persistence
    autoSkipNonRecoverableData: "true"
    # storage settings
    managedLedgerDefaultEnsembleSize: "1"
    managedLedgerDefaultWriteQuorum: "1"
    managedLedgerDefaultAckQuorum: "1"

proxy:
  replicaCount: 1

## Pulsar: Functions Worker
## templates/function-worker-configmap.yaml
##
functions:
  component: functions-worker
  enableCustomizerRuntime: false
  runtimeCustomizerClassName: "org.apache.pulsar.functions.runtime.kubernetes.BasicKubernetesManifestCustomizer"
  pulsarExtraClasspath: "extraLibs"
  # Specify the namespace to run pulsar functions
  jobNamespace: ""
  # Specify the pulsar root directory
  pulsarRootDir: ""
  configData:
    downloadDirectory: download/pulsar_functions
    pulsarFunctionsNamespace: public/functions
    functionMetadataTopicName: metadata
    clusterCoordinationTopicName: coordinate
    numHttpServerThreads: 8
    schedulerClassName: "org.apache.pulsar.functions.worker.scheduler.RoundRobinScheduler"
    functionAssignmentTopicName: "assignments"
    failureCheckFreqMs: 30000
    rescheduleTimeoutMs: 60000
    initialBrokerReconnectMaxRetries: 60
    assignmentWriteMaxRetries: 60
    instanceLivenessCheckFreqMs: 30000
    # Frequency how often worker performs compaction on function-topics
    topicCompactionFrequencySec: 1800
    # kubernetes runtime
    functionRuntimeFactoryClassName: org.apache.pulsar.functions.runtime.kubernetes.KubernetesRuntimeFactory
    # Connectors
    connectorsDirectory: ./connectors
    functionsDirectory: ./functions
    narExtractionDirectory: ""
  functionInstanceMinResources:
    cpu: 0.1
    ram: 10485760
    disk: 104857600
  functionInstanceMaxResources:
    cpu: 0.2
    ram: 104857600
    disk: 1048576000
  functionRuntimeFactoryConfigs:
    functionDockerImages:
      JAVA: "streamnative/pulsar-functions-java-runner:2.8.0-rc-202105262207"
      PYTHON: "streamnative/pulsar-functions-python-runner:2.8.0-rc-202105262207"
      GO: "streamnative/pulsar-functions-go-runner:2.8.0-rc-202105262207"
    functionInstanceMinResources:
      cpu: 0.1
      ram: 10485760
      disk: 104857600
    functionInstanceMaxResources:
      cpu: 0.2
      ram: 104857600
      disk: 1048576000
