name: Precommit - Unit Tests
on: [pull_request]
jobs:
  build:
    name: unit-tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.13, 1.14]
    steps:
      - name: clean disk
        run: |
          sudo swapoff -a
          sudo rm -rf /swapfile /usr/share/dotnet /usr/local/lib/android /opt/ghc
          sudo apt clean
          docker rmi $(docker images -q) -f
          df -h

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: InstallKubebuilder
        run: |
          wget "https://storage.googleapis.com/kubebuilder-tools/kubebuilder-tools-1.19.2-$(go env GOOS)-$(go env GOARCH).tar.gz" -O envtest-bins.tar.gz
          tar xzf envtest-bins.tar.gz
          mv "kubebuilder" "kube_builder"
          wget "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v3.1.0/kubebuilder_$(go env GOOS)_$(go env GOARCH)" -O kubebuilder
          chmod +x kubebuilder
          mv "kubebuilder" "./kube_builder/bin"
          export PATH=$PATH:./kube_builder/bin

      - name: InstallTool
        run: |
          wget -O - -q https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s v1.18.0
          ./bin/golangci-lint --version

      - name: BuildProject
        run: |
          go mod download
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 GO111MODULE=on go build -a -o manager main.go

      - name: CheckStyle
        run: |
          ./bin/golangci-lint run -c ./.golangci.yml ./...

      - name: Check License Header
        run: |
          go test license_test.go

      - name: Run unit test check
        run: go test -v ./controllers/spec/...

      - name: Run envtest for controller
        run: go test ./controllers/ -v -ginkgo.v
