name: Project Style Check
on: [pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.13, 1.14]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: InstallTool
        run: |
          wget -O - -q https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s v1.18.0
          ./bin/golangci-lint --version

      - name: BuildProject
        run: |
          go mod download
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 GO111MODULE=on go build -a -o manager main.go

      - name: CheckStyle
        run: |
          ./bin/golangci-lint run -c ./.golangci.yml ./...

      - name: Check License Header
        run: |
          go test license_test.go

      - name: Run unit test check
        run: go test -v ./controller/spec/...
