name: Function-Mesh Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  upload:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Upload Release files
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.0
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up GO 1.24.11
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.11
        id: go

      - name: InstallKubebuilder
        run: |
          curl -L https://github.com/kubernetes-sigs/kubebuilder/releases/download/v2.3.1/kubebuilder_2.3.1_linux_amd64.tar.gz | tar -xz -C /tmp/
          sudo mv /tmp/kubebuilder_2.3.1_linux_amd64 /usr/local/kubebuilder
          export PATH=$PATH:/usr/local/kubebuilder/bin

      - name: Install operator-sdk
        run: |
          RELEASE_VERSION=v1.29.0
          curl -LO "https://github.com/operator-framework/operator-sdk/releases/download/${RELEASE_VERSION}/operator-sdk_linux_amd64"
          chmod +x operator-sdk_linux_amd64 && sudo mkdir -p /usr/local/bin/ && sudo mv operator-sdk_linux_amd64 /usr/local/bin/operator-sdk

      - name: Set up yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/download/v4.30.4/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq
          yq --help

      - name: Get vertical-pod-autoscaler crd
        run: |
          wget https://raw.githubusercontent.com/kubernetes/autoscaler/master/vertical-pod-autoscaler/deploy/vpa-v1-crd-gen.yaml -O config/crd/bases/vpa-v1-crd.yaml

      - name: build release
        id: build_release
        env:
          VERSION: ${{ github.event.release.tag_name }}
          IMAGE_TAG_BASE: streamnative/function-mesh
          CATALOG_BRANCH_TAG: latest
        run: |
          # convert vx.y.z to x.y.z because a valid semver is needed in creating the bundle
          VERSION=$(echo $VERSION|cut -c 2-)
          make release
          make docker-push
          make docker-build image-push bundle bundle-build bundle-push catalog-build catalog-push

      - name: Upload crd.yaml to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: manifests/crd.yaml
          asset_name: crd.yaml
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload rbac.yaml to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: manifests/rbac.yaml
          asset_name: rbac.yaml
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload install.sh to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: install.sh
          asset_name: install.sh
          tag: ${{ github.ref }}
          overwrite: true
