name: Precommit - Function Mesh Proxy - Unit tests
on: [pull_request]
jobs:
  build:
    name: unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: clean disk
        run: |
          sudo swapoff -a
          sudo rm -rf /swapfile /usr/share/dotnet /usr/local/lib/android /opt/ghc
          sudo apt clean
          docker rmi $(docker images -q) -f
          df -h

      - name: Check out code
        uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Set up yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/download/v4.6.0/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq
          yq --help

      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: tuteng
          password: ${{ secrets.IMAGE_GITHUB_TOKEN }}

      - name: Auto generate crd model
        run: cd mesh-worker-service && ./tool/generate-crd.sh

      - name: Format license
        run: cd mesh-worker-service && mvn license:format

      - name: Run mesh proxy unit test
        run: cd mesh-worker-service && mvn clean install

